body {
    background-color:#252435;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.menu-btn {
    cursor: pointer;
    transform: scale(3);
    border: 1px solid #fff;
    border-radius: 5px;
    width:  80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.draw-bar {
    background-color: #fff;
    width: 65px;
    height: 6px;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
    transition: 0.5s ease;
}

.draw-bar::before, .draw-bar::after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 65px;
    height: 6px;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
    transition: 0.5s ease;
}

.draw-bar::before {
    transform: translateY(-16px);
}

.draw-bar::after {
    transform: translateY(16px);
}

.menu-btn.active .draw-bar {
    background-color: transparent;
    box-shadow: none;    
}

.menu-btn.active .draw-bar::before {
    transform: rotate(45deg);
    background-color: red;
}

.menu-btn.active .draw-bar::after {
    transform: rotate(-45deg);
    background-color: greenyellow;
}